apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml

namespace: demo-danweb

images:
- name: williambr2022/demo-agenda-front
  newName: williambr2022/demo-agenda-front
  newTag: 74152c4fc0ae44599930996749e64f0d5fb98d00
