apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml

namespace: demo-danweb

images:
- name: williambr2022/demo-agenda-front
  newName: williambr2022/demo-agenda-front
  newTag: 977382b9d0ba0bbc768a057528c90346474016f7
