mat-form-field {
    width: 100%;
}

.checkbox {
    margin-top: 15px;
    margin-left: 10px;
}

.color-box {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  margin-right: 8px;
  border: 1px solid #ccc;
  vertical-align: middle;
}